# Plugins
TMUX_PLUGIN_MANAGER_PATH="~/.local/share/tmux/plugins"
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'catppuccin/tmux'
set -g @prefix_highlight_show_copy_mode 'on'
set -g @prefix_highlight_show_sync_mode 'on'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# Catppuccin theme configuration
set -g @catppuccin_flavour 'mocha'
set -g @catppuccin_window_left_separator ""
set -g @catppuccin_window_right_separator " "
set -g @catppuccin_window_middle_separator " █"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,(),}"
set -g @catppuccin_status_modules_right "directory date_time"
set -g @catppuccin_status_modules_left "session"
set -g @catppuccin_status_left_separator  " "
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"
set -g @catppuccin_directory_text "#{b:pane_current_path}"
set -g @catppuccin_date_time_text "%H:%M"

# User settings
unbind C-q
set -g prefix C-q
unbind C-b


# Auto-detect shell across platforms
set-option -g default-shell $SHELL
set-option -g default-command "exec $SHELL -l"

# Platform-specific terminal settings
{{ if eq .chezmoi.os "linux" }}
# for Linux
set -g default-terminal "tmux-256color"
{{ else if eq .chezmoi.os "darwin" }}
# for Mac
set -g default-terminal "screen-256color"
set -ag terminal-overrides ",alacritty:RGB"
{{ end }}

bind -T copy-mode-vi v send-keys -X begin-selection
bind e set-window-option synchronize-panes
set-window-option -g mode-keys vi
bind c new-window -c '#{pane_current_path}'

# プレフィックス + - で水平分割
bind - split-window -v

# プレフィックス + | で垂直分割
bind | split-window -h

# enable mouse
setw -g mouse on

{{ if eq .chezmoi.os "darwin" }}
run "${TMUX_PLUGIN_MANAGER_PATH}/tpm"
{{ else if eq .chezmoi.os "linux" }}
run "${TMUX_PLUGIN_MANAGER_PATH}/tpm/tpm"
{{ end }}
